/* body {
  background-color: rgb(214, 214, 185);
}

@media screen and (min-width: 576px) {
  body {
    background-color: red;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
} */
