.main {
  height: 100px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
  font-size: 50px;
  color: blue;
}
.links {
  width: 300px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
